@model Compra

<h2>Remover Compra</h2>

<div>
    <h4>Você tem certeza que deseja remover a compra?</h4>
    <p>Nome do fornecedor: @Model.Fornecedor.Nome</p>
    <p>Nome do responsável: @Model.Funcionario.Nome</p>
    <p>Data de compra: @Model.DataCompra.ToString("d")</p>
    <p>Status: @Model.Status</p>
    <p>Forma de Pagamento: @Model.FormaPagamento</p>
    <p>Forma de entrega: @Model.FormaEntrega</p>
    <p>Itens da compra:</p>
    <table class="table" id="itensCompraTable">
        <thead>
        <tr>
            <th>Item</th>
            <th>Quantidade</th>
            <th>Preco</th>
            <th>Subtotal</th>
        </tr>
        </thead>
        <tbody>
        <tr>
        @if (Model.ItensCompra != null)
        {
            @foreach (var item in Model.ItensCompra)
            {
                <tr>
                    <td>@item.Recurso.Nome</td>
                    <td>@item.Quantidade</td>
                    <td>@item.Preco</td>
                    <td>@item.SubTotal</td>
                </tr>
            }
        }

        </tbody>
    </table>
    <p class="card-text">
        <strong>Total:</strong> @Model.Total.ToString("C")
    </p>
</div>

<form asp-action="Remover" method="post">
    <input type="hidden" asp-for="Id"/>
    <button type="submit" class="btn btn-danger">Remover</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>